* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
html,
body,
dataTables_wrapper {
  height: 100%;
}
.summeryHeader {
  margin: 0 0 10px;
  border-bottom: 1px solid black;
}
.summeryData {
  margin-bottom: 0;
}

p {
  margin: 8px 0;
}

input[type="text"] {
  margin: 0.5rem 0;
}
form {
  min-width: 200px;
}

label {
  display: flex;
  flex-flow: column;
}

tbody td {
  text-align: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.sorting {
  height: 5rem;
}

.multiselect {
  width: 100%;
  position: relative;
}

.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
  min-width: 178px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.indSearch {
  width: 150px;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
  position: absolute;
  width: 100%;
  height: 21rem;
  overflow-y: scroll;
  background-color: #ffff;
  z-index: 999;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.checkboxes label {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  padding: 0 0.1rem;
  cursor: pointer;
}
.checkboxes label:hover {
  background-color: #1e90ff;
}

.open {
  display: block;
}

#myTable_length label {
  flex-flow: unset !important;
  align-items: center;
}
#myTable_length label select {
  margin: 0 10px;
}
.dataTables_wrapper {
  width: 100%;
  overflow: scroll;
}
.dataTables_wrapper header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  z-index: 99999;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #000000;
}
.dataTables_filter label {
  flex-flow: unset;
  align-items: center;
}
table {
  margin: 5rem 0 0 !important;
}
#myTable_wrapper {
  min-height: 53vh;
  max-height: 92vh;
}
.grandTotal {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px !important;
}

/* #header-fixed { 
  position: fixed; 
  top: 0px; 
  display:none;
  background-color:white;
}
#header-fixed thead{
  position: relative;
    top: -9px;
} */
thead {
  /* position: fixed;
  top: 44px; */
  z-index: 999;
  background-color: white;
  transform: translateY(-12px);
}

tbody {
  position: relative;

  z-index: -1;
}
td {
  min-width: 202px;
}

footer {
  position: fixed !important;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  z-index: 99999;
  padding: 1rem;
  overflow: unset !important;
  border-top: 1px solid #000000;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgb(36, 28, 28);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(70, 57, 57);
}
